- page_title @hook.pluralized_name

- if @group.feature_available?(:group_webhooks)
  .row.prepend-top-default
    .col-lg-3
      = render 'shared/web_hooks/title_and_docs', hook: @hook

    .col-lg-9.gl-mb-3
      = form_for @hook, as: :hook, url: polymorphic_path([@group, :hooks]) do |f|
        = render partial: 'shared/web_hooks/form', locals: { form: f, hook: @hook }
        = f.submit _('Add webhook'), class: 'btn btn-success'

      = render 'shared/web_hooks/index', hooks: @hooks, hook_class: @hook.class
- elsif show_promotions?
  = render 'shared/promotions/promote_group_webhooks'
